.task-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 400px;
    text-align: center;
    background: white;
}
.modal-content h2{
    font-family: Calibri;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.41px;
    color: #1C1C1B;
    margin-top: 20px;
}

.task-header{
    display: flex;
}

.pencil-icon {
    margin-top: 10px;
    margin-right: 5px;
}
.container_pencil{
    margin-left: 20px;
    margin-right: 10px;
    border: 2px solid #D5101C;
    background-color: #D5101C;
    border-radius: 10px;
    width: 48px;
    height: 48px;
}

.modal-content p{
    font-family: Calibri;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.31px;
}

.second{
    margin-top: 10px;
    font-family: Calibri;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.87px;
    text-align: justified;
}

.task-modal textarea{
    border: 1px solid;
    width: 269px;
    height: 61px;
    top: 343px;
    left: 25px;
    border-radius: 5px;
    border-color:#c9c9c9;
}

.modal-content .thank-you-message {
    border-left: 5px solid #21C196;
    padding-left: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background: white;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.congratulations-modal {
    text-align: center;
    margin-top: 20px;
}

.thank-you-message {
    text-align: center;
}
.thank-you-message h2{
    color: #21C196;
    font-family: Calibri;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.52px;
    text-align: center;
}
.thank-you-message p{
    font-family: Calibri;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.65px;
    text-align: center;
    color: #585858;
}
.thank-you-message button{
    margin-top: 20px;
    width: 221px;
    height: 37px;
    top: 109px;
    left: 39px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    color: #585858;
    font-family: Calibri;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.87px;
    text-align: center;
}