.task-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 400px;
    text-align: center;
    background: white;
}

.modal-content .thank-you-message {
    border-left: 5px solid #21C196;
    padding-left: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background: white;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.congratulations-modal {
    text-align: center;
    margin-top: 20px;
}

.thank-you-message {
    text-align: center;
}
.thank-you-message h2{
    color: #21C196;
    font-family: Calibri;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.52px;
    text-align: center;
}
.thank-you-message p{
    font-family: Calibri;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.65px;
    text-align: center;
    color: #585858;
}
.thank-you-message button{
    margin-top: 20px;
    width: 221px;
    height: 37px;
    top: 109px;
    left: 39px;
    gap: 0px;
    border-radius: 10px;
    border: 1px;
    color: #585858;
    font-family: Calibri;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.87px;
    text-align: center;
}