.job-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.job-page h1{
    margin-top: 20px;
    font-family: Calibri;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.41px;
    text-align: center;
    color: #1C1C1B;
}

.job-page p{
    font-family: Calibri;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.87px;
    text-align: center;
    color: #585858;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

